.Launches {
    height: 100vh;
    background-color: #ececec;
    width: 350px;
    overflow: hidden auto;
    cursor: pointer;
}
    .Launches li {
        list-style: none;
        color: black;
        font-family:Algerian;
        padding-top:1em;
    }

.LaunchDetail {
    margin: 0;
    padding: 0;
    width: fit-content;
}
.images{
    width:200px;
    height:200px;
    display:inline-flex;
    margin-left:4em;
    margin-top:2em;
}
.mainDiv{
    display:flex;
}

.details {
    margin: 0 auto;
    text-align:center;
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom:2em;
}
    .details + div {
        margin: 0 auto;
        padding: 20px 30px 30px 20px;
        width: 900px;
        text-align: center;
        border: 1px solid #BFBFBF;
        background-color: white;
        box-shadow: 10px 10px 5px #aaaaaa;
        margin-bottom: 2em;
        background-image: linear-gradient(to right, white, #91d7e7)
    }
